name: GCC

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    # 22.04 required for latest compiler versions
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        compiler:
          - g++-11
          - g++-12
        build_type: [ Debug, Release ]
        dont_use_std_vector: [ ON, OFF ]
        dont_use_std_string: [ ON, OFF ]
        exclude:
          # gcc-11 doesn't support constexpr vector and string, so there is no point in attempting to build with it
          - compiler: g++-11
            dont_use_std_vector: OFF
          - compiler: g++-11
            dont_use_std_string: OFF
          # gcc-12's constexpr string implementation has bugs: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=105440
          - compiler: g++-12
            dont_use_std_string: OFF
        include:
          - compiler: g++-11
            required_pkgs: g++-11
          - compiler: g++-12
            required_pkgs: g++-12

    steps:
      - uses: actions/checkout@v3

      - name: Setup environment
        run: sudo apt-get install -y ${{matrix.required_pkgs}}

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build
          -D CMAKE_BUILD_TYPE=${{matrix.build_type}}
          -D BUGSPRAY_DONT_USE_STD_VECTOR=${{matrix.dont_use_std_vector}}
          -D BUGSPRAY_DONT_USE_STD_STRING=${{matrix.dont_use_std_string}}
          -D BUGSPRAY_BUILD_TESTS=ON
          -D CMAKE_CXX_COMPILER=${{matrix.compiler}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{matrix.build_type}} --output-on-failure
      
